### 一、Python基础知识
#### 1.1 Python数据类型

数据类型：字符串、列表、元组、字典、集合
<img src='https://img.alicdn.com/imgextra/i1/O1CN013SC0F21HbuQcovhYY_!!6000000000777-2-tps-299-250.png'>

In [1]:
# 通过单引号或双引号来定义字符串
var1 = "Hello World!"
print(var1)
print(var1)
print(type(var1))
print("var1[0]: ", var1[0])      #H
print("var1[:5]: ", var1[:5])    #Hello

Hello World!
Hello World!
<class 'str'>
var1[0]:  H
var1[:5]:  Hello

In [2]:
# 字符串长度len()
print("len(var1): ", len(var1))  #11

len(var1):  12

In [3]:
# 字符串拼接
var2 = 'TianChi!'
print(var2+str(12))

TianChi!12

In [4]:
# 列表：[]
lists = ['a','b','c', 'd', 0, 1, 2, 3]
print(lists[0])
print(lists[1:5])

a
['b', 'c', 'd', 0]

In [5]:
# 在列表尾部添加元素
lists.append('TianChi')
print(lists)

['a', 'b', 'c', 'd', 0, 1, 2, 3, 'TianChi']

In [6]:
# 删除列表元素：
del lists[2]

In [7]:
# 列表元素拼接
lists += [35, 49]  
print(lists)
lists = lists + ["Example"]
print(lists)

['a', 'b', 'd', 0, 1, 2, 3, 'TianChi', 35, 49]
['a', 'b', 'd', 0, 1, 2, 3, 'TianChi', 35, 49, 'Example']

In [8]:
# 字典 {key:value}
dicts = {'姓名':'张三'}
dicts['年龄'] = 18
print(dicts)
print(type(dicts))
for k,v in dicts.items():
    print(k+'-'+str(v))

{'姓名': '张三', '年龄': 18}
<class 'dict'>
姓名-张三
年龄-18

In [9]:
# 元组 tuple：()
tuples = (1,2,3)
tuples1 = 2,3,'A'
print(tuples)
print(tuples1)
print(type(tuples1))

(1, 2, 3)
(2, 3, 'A')
<class 'tuple'>

In [10]:
# 集合：{}
set1 = {1, 2, 3, '45', 3, 5}
print(type(set1)) 
print(set1)
set1.add('apple')
print(set1)

<class 'set'>
{1, 2, 3, 5, '45'}
{1, 2, 3, 5, 'apple', '45'}

#### 1.2 Python中的运算符
<img src='https://img.alicdn.com/imgextra/i1/O1CN01GvnPer1FZV6zM3piH_!!6000000000501-2-tps-931-364.png'>

In [11]:
# 算术运算符
print(1 + 1)  # 2
print(2 - 1)  # 1
print(3 * 4)  # 12
print(3 / 4)  # 0.75
print(3 // 4)  # 0
print(3 % 4)  # 3
print(2 ** 3)  # 8

2
1
12
0.75
0
3
8

In [12]:
# 赋值运算符
a = 1 
b = a + 1
c = 0
c += b  # c = c + b
print(b)
print(c)

2
2

In [13]:
# 比较运算符
print(2 > 1)  # True
print(2 >= 4)  # False
print(1 < 2)  # True
print(5 <= 2)  # False
print(3 == 4)  # False
print(3 != 5)  # True

True
False
True
False
False
True

In [14]:
# 成员运算符号
list1 = [1,2,3,4]
if 1 in list1:
    print('1在%s中'%str(list1)) #通配符，稍后细讲

1在[1, 2, 3, 4]中

In [15]:
# 逻辑运算符
print(1>2 and 2<3)
print(1>2 or 2<3)
print(not 2<1)

False
True
True

#### 1.3 Python条件语句

In [16]:
if 1<2:
    print('1<2')

1<2

In [17]:
if 1>2:
    print('1>2')
else:
    print('1<2')

1<2

In [18]:
# 学生成绩等级识别
temp = input('请输入成绩:')
source = int(temp)
if 100 >= source >= 90:
    print('A')
elif 90 > source >= 80:
    print('B')
elif 80 > source >= 60:
    print('C')
elif 60 > source >= 0:
    print('D')
else:
    print('输入错误！')

请输入成绩: 78

C

#### 1.4 Python循环语句

In [19]:
# 循环语句 for ... in
# 计算 1+2+3+...+9+10
sum0 = 0
for number in range(11):
    sum0 = sum0 + number
print(sum0)

55

In [20]:
# 循环语句 while
# 计算 1+2+3+...+9+10
sum1 = 0
number = 1
while number < 11:
    sum1 = sum1 + number
    number = number + 1
print(sum1)

55

#### 1.4 Python通配符

##### %s

In [21]:
string="hello"  
  
#%s打印时结果是hello  
print("string=%s" % string)      # output: string=hello

string=hello

In [22]:
#%2s意思是字符串长度为2，当原字符串的长度超过2时，按原长度打印，所以%2s的打印结果还是hello  
print("string=%2s" % string)     # output: string=hello

string=hello

In [23]:
#%7s意思是字符串长度为7，当原字符串的长度小于7时，在原字符串左侧补空格，  
#所以%7s的打印结果是  hello  
print("string=%7s" % string)     # output: string=  hello

string=  hello

In [24]:
#%-7s意思是字符串长度为7，当原字符串的长度小于7时，在原字符串右侧补空格，  
#所以%-7s的打印结果是  hello  
print("string=%-7s!" % string)     # output: string=hello  !

string=hello  !

In [25]:
#%.2s意思是截取字符串的前2个字符，所以%.2s的打印结果是he  
print("string=%.2s" % string)    # output: string=he

string=he

In [26]:
#%.7s意思是截取字符串的前7个字符，当原字符串长度小于7时，即是字符串本身，  
#所以%.7s的打印结果是hello  
print("string=%.7s" % string)    # output: string=hello

string=hello

In [27]:
#%a.bs这种格式是上面两种格式的综合，首先根据小数点后面的数b截取字符串，  
#当截取的字符串长度小于a时，还需要在其左侧补空格  
print("string=%7.2s" % string)   # output: string=     he  
print("string=%2.7s" % string)   # output: string=hello  
print("string=%10.7s" % string)  # output: string=     hello

string=     he
string=hello
string=     hello

In [28]:
#还可以用%*.*s来表示精度，两个*的值分别在后面小括号的前两位数值指定  
print("string=%*.*s" % (7,2,string))      # output: string=     he

string=     he

##### %d 整型

In [29]:
num=14  
  
#%d打印时结果是14  
print("num=%d" % num)            # output: num=14  
  
#%1d意思是打印结果为1位整数，当整数的位数超过1位时，按整数原值打印，所以%1d的打印结果还是14  
print("num=%1d" % num)         # output: num=14  
  
#%3d意思是打印结果为3位整数，当整数的位数不够3位时，在整数左侧补空格，所以%3d的打印结果是 14  
print("num=%3d" % num)           # output: num= 14  
  
#%-3d意思是打印结果为3位整数，当整数的位数不够3位时，在整数右侧补空格，所以%3d的打印结果是14_  
print("num=%-3d" % num)          # output: num=14_  
  
#%05d意思是打印结果为5位整数，当整数的位数不够5位时，在整数左侧补0，所以%05d的打印结果是00014  
print("num=%05d" % num)         # output: num=00014  
  
#%.3d小数点后面的3意思是打印结果为3位整数，  
#当整数的位数不够3位时，在整数左侧补0，所以%.3d的打印结果是014  
print("num=%.3d" % num)          # output: num=014  
  
#%.0003d小数点后面的0003和3一样，都表示3，意思是打印结果为3位整数，  
#当整数的位数不够3位时，在整数左侧补0，所以%.3d的打印结果还是014  
print("num=%.0003d" % num)       # output: num=014  
  
#%5.3d是两种补齐方式的综合，当整数的位数不够3时，先在左侧补0，还是不够5位时，再在左侧补空格，  
#规则就是补0优先，最终的长度选数值较大的那个，所以%5.3d的打印结果还是  014  
print("num=%5.3d" % num)         # output: num=  014  
  
#%05.3d是两种补齐方式的综合，当整数的位数不够3时，先在左侧补0，还是不够5位时，  
#由于是05，再在左侧补0，最终的长度选数值较大的那个，所以%05.3d的打印结果还是00014  
print("num=%05.3d" % num)        # output: num=00014  
  
#还可以用%*.*d来表示精度，两个*的值分别在后面小括号的前两位数值指定  
#如下，不过这种方式04就失去补0的功能，只能补空格，只有小数点后面的3才能补0  
print("num=%*.*d" % (4,3,num))  # output: num= 014

num=14
num=14
num= 14
num=14
num=00014
num=014
num=014
num=  014
num=00014
num= 014

##### %f

In [30]:
import math  
  
#%a.bf，a表示浮点数的打印长度，b表示浮点数小数点后面的精度  
  
#只是%f时表示原值，默认是小数点后5位数  
print("PI=%f" % math.pi )            # output: PI=3.141593  
  
#只是%9f时，表示打印长度9位数，小数点也占一位，不够左侧补空格  
print("PI=%9f" % math.pi )           # output: PI=_3.141593  
  
#只有.没有后面的数字时，表示去掉小数输出整数，03表示不够3位数左侧补0  
print("PI=%03.f" % math.pi)          # output: PI=003  
  
#%6.3f表示小数点后面精确到3位，总长度6位数，包括小数点，不够左侧补空格  
print("PI=%6.3f" % math.pi)          # output: PI=_3.142  
  
#%-6.3f表示小数点后面精确到3位，总长度6位数，包括小数点，不够右侧补空格  
print("PI=%-6.3f" % math.pi)         # output: PI=3.142_  
  
#还可以用%*.*f来表示精度，两个*的值分别在后面小括号的前两位数值指定  
#如下，不过这种方式06就失去补0的功能，只能补空格  
print("PI=%*.*f" % (6,3,math.pi))   # output: PI=_3.142

PI=3.141593
PI= 3.141593
PI=003
PI= 3.142
PI=3.142
PI= 3.142

### 二、Python进阶知识
#### 2.1 Python函数与类

In [31]:
# 函数定义
def print_me(say_str):
    print(say_str)
    str1 = '121'
    return str1

# 调用函数
str1 = print_me("hello, teachers")
# print_me函数将一个字符串作为传入参数，再打印出来

hello, teachers

In [32]:
class Turtle:  # Python中的类名约定以大写字母开头
    """关于类的一个简单例子"""
    # 属性
    color = 'green'
    weight = 10
    legs = 4
    shell = True
    mouth = '大嘴'

    # 方法
    def climb(self):
        print('我正在很努力的向前爬...')

    def run(self):
        print('我正在飞快的向前跑...')

    def bite(self):
        print('我正在咬你咬你!!')

    def eat(self):
        print('有得吃，真满足...')

    def sleep(self):
        print('困了，睡了，晚安，zzz')


tt = Turtle()
print(tt)
# <__main__.Turtle object at 0x0000007C32D67F98>

print(type(tt))
# <class '__main__.Turtle'>

tt.climb()
# 我正在很努力的向前爬...

tt.run()
# 我正在飞快的向前跑...

tt.bite()
# 我正在咬你咬你!!

print(tt.color)

<__main__.Turtle object at 0x7fbd1c2a83c8>
<class '__main__.Turtle'>
我正在很努力的向前爬...
我正在飞快的向前跑...
我正在咬你咬你!!
green

#### 2.2 模块
Python 模块(Module)，是一个 Python 文件，以 .py 结尾，我们可以理解为一个有特定功能的app。

<b>print与pprint</b>

pprint.pprint(object, stream=None, indent=1, width=80, depth=None, *, compact=False)

- stream：输出流，默认是 sys.stdout ，也就是屏幕输出。
- indent：缩进空格数。
- width：每行最大宽度，默认为80个字符，超过宽度会换行，但如果单个对象超过不会被换行，比如一段长字符串。
- depth：限制数据的层级，设置后可以限制过多的嵌套。
- compact：3.4版本新加入的参数，若设为 True ，则输出会在接近 width 限制才进行换行。

In [33]:
import pprint  # 引入pprint模块
stuff = [['spam', 'eggs', 'anb'],[1, 3, 5, 7]]
print(stuff)

[['spam', 'eggs', 'anb'], [1, 3, 5, 7]]

In [34]:
pp = pprint.PrettyPrinter(indent=1, width=20)
pp.pprint(stuff)

[['spam',
  'eggs',
  'anb'],
 [1, 3, 5, 7]]

In [35]:
import random  # 引入random模块
# try random.seed(0)

print( random.randint(1,10) )        # 产生 1 到 10 的一个整数型随机数  
print( random.random() )             # 产生 0 到 1 之间的随机浮点数
print( random.uniform(1.1,5.4) )     # 产生  1.1 到 5.4 之间的随机浮点数，区间可以不是整数
print( random.choice(['一等奖', '二等奖', '三等奖', '谢谢参与']) )   # 从序列中随机选取一个元素
print( random.randrange(1,100,2) )   # 生成从1到100的间隔为2的随机整数

1
0.7688574760605006
3.1659673486295485
二等奖
95

In [36]:
import time  # 引入time模块

# 获取当前时间时间戳
ticks = time.time()
print(ticks)
# 从返回浮点数的时间戳方式向时间元组转换，只要将浮点数传递给如localtime之类的函数。
localtime = time.localtime()
print(localtime)
print(time.asctime(localtime))
# 格式化成2016-03-20 11:45:39形式
print(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))

1662437153.3552675
time.struct_time(tm_year=2022, tm_mon=9, tm_mday=6, tm_hour=12, tm_min=5, tm_sec=53, tm_wday=1, tm_yday=249, tm_isdst=0)
Tue Sep  6 12:05:53 2022
2022-09-06 12:05:53

In [37]:
from datetime import datetime  # 引入datetime模块
now = datetime.now() # 获取当前datetime
print(now)
print(datetime.fromtimestamp(ticks))  # 将时间戳转换成常规日期
print(now.strftime( '%Y-%m-%d %H:%M:%S' )  )

2022-09-06 12:05:53.363509
2022-09-06 12:05:53.355268
2022-09-06 12:05:53

In [38]:
import re  # 引入正则表达式模块

# ^a 表示匹配以a开头的字符串（只匹配一次）
# . 表示该字符可为任意字符（只匹配一次）
# * 表示前面的字符可以出现任意次（0次或多次）（多次匹配）
# （） 内的为 匹配模式，通过 group函数 可以取出匹配结果
# + ：表示前面的字符，至少出现一次
# {n} : 控制前面字符出现次数
# a{2} : 表示a出现两次
# b{3,4} : 表示b至少出现3次，最多出4次
# [] : 表示 里面包含的内容都可以进行匹配,包含内容只有表面字符含义
# [abcd] : 表示 只要这个字符为 a/b/c/d中的一个都可以匹配成功
# [0-9] : 表示 只要这个字符在 0-9 这个区间内，都可以匹配成功
# [^x] : 表示匹配 字符不为 x

def regtest(reg_str,line):
    test = re.match(reg_str, line)
    if test:
        print(test.group(1))
    else:
        print("匹配失败！")

line01 = '电话号：15573563467阿里云天池'
reg_str0 = '.*(1[3458][0-9]{9}).*'
reg_str1 = '.*(1[3458][^2]{9}).*'
regtest(reg_str0,line01)   # result : 15573563467
regtest(reg_str1,line01)   # result : 15573563467

15573563467
15573563467

<b>pandas</b>为Python编程语言提供高性能，是基于NumPy 的一种易于使用的数据结构和数据分析工具,<br>
pandas为我们提供了高性能的高级数据结构（比如：DataFrame）和高效地操作大型数据集所需的工具，<br>
同时提供了大量能使我们快速便捷地处理数据的函数和方法。

In [39]:
import pandas as pd  # 引入pandas模块

# 读取数据
ccl = pd.read_csv("ccl.txt", sep = '|',names=['CAND_ID','CAND_ELECTION_YR','FEC_ELECTION_YR','CMTE_ID','CMTE_TP','CMTE_DSGN','LINKAGE_ID'])

# 查看数据
ccl.head(3)

,CAND_ID,CAND_ELECTION_YR,FEC_ELECTION_YR,CMTE_ID,CMTE_TP,CMTE_DSGN,LINKAGE_ID
0,C00713602,2019,2020,C00712851,O,U,228963
1,H0AK00105,2020,2020,C00607515,H,P,229250
2,H0AL01055,2020,2020,C00697789,H,P,226125

In [40]:
# 查看数据规模
ccl.shape

(6843, 7)

In [41]:
# 查看整体数据信息，包括每个字段的名称、非空数量、字段的数据类型
ccl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6843 entries, 0 to 6842
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CAND_ID           6843 non-null   object
 1   CAND_ELECTION_YR  6843 non-null   int64
 2   FEC_ELECTION_YR   6843 non-null   int64
 3   CMTE_ID           6843 non-null   object
 4   CMTE_TP           6843 non-null   object
 5   CMTE_DSGN         6843 non-null   object
 6   LINKAGE_ID        6843 non-null   int64
dtypes: int64(3), object(4)
memory usage: 374.4+ KB

In [42]:
# 数据探索
ccl.describe()

       CAND_ELECTION_YR  FEC_ELECTION_YR     LINKAGE_ID
count       6843.000000           6843.0    6843.000000
mean        2019.372059           2020.0  226992.078474
std           19.201956              0.0    3626.059046
min         1984.000000           2020.0  222106.000000
25%         2018.000000           2020.0  223859.500000
50%         2020.000000           2020.0  225625.000000
75%         2020.000000           2020.0  230250.500000
max         2929.000000           2020.0  234054.000000

In [43]:
# 数据处理
df1 = pd.DataFrame( # 成绩
    {'姓名':['张三', '李四', '王五', '赵六', '刘七'],
    '成绩':[98, 88, 90, 80, None]}
)

df2 = pd.DataFrame( # 小组
    {'姓名':['张三', '李四', '王五', '赵六', '刘七'],
    '小组':[101, 102, 101, 102, 102]}
)

In [44]:
# 数据合并
df3 = df1.merge(df2) 
df3

   姓名    成绩   小组
0  张三  98.0  101
1  李四  88.0  102
2  王五  90.0  101
3  赵六  80.0  102
4  刘七   NaN  102

In [45]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      5 non-null      object
 1   成绩      4 non-null      float64
 2   小组      5 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 160.0+ bytes

In [46]:
# 处理缺失值
df3['成绩'].fillna(df3['成绩'].mean(),inplace=True)

In [47]:
df3

   姓名    成绩   小组
0  张三  98.0  101
1  李四  88.0  102
2  王五  90.0  101
3  赵六  80.0  102
4  刘七  89.0  102

#### 2.3 Python文件处理
Python open() 方法用于打开一个文件，并返回文件对象，在对文件进行处理过程都需要使用到这个函数。


注意：使用 open() 方法一定要保证关闭文件对象，即调用 close() 方法。


open() 函数常用形式是接收两个参数：文件名(file)和模式(mode)。

In [48]:
# 读取数据
file1 = open('ccl.txt','r')
file_str = file1.read()
print(type(file_str))
print(file_str[0:10])
file1.close()

<class 'str'>
C00713602|

In [49]:
with open('ccl.txt','r') as file2: 
    list1 = []
    for i in file2.readlines():
        list1.append(i)
    print(list1[1])

H0AK00105|2020|2020|C00607515|H|P|229250

In [50]:
# 写入数据
str1 = 'Hello TianChi!'
with open('123.txt','w') as file:
    file.write(str1)

#### 2.4 Python列表解析式、生成器表达式

<b>列表解析式</b>
print([i*2 for i in range(11)])

<b>生成器表达式</b>
把列表解析的[]换成() 得到的就是生成器表达式

列表解析与生成器表达式都是一种便利的编程方式，只不过生成器表达式更节省内存

In [51]:
result=[i for i in range(1,6)]
obj=(i for i in range(1,6))
print(obj) 
print(list(obj))
print(result)

# 输出结果：
# <generator object <genexpr> at 0x7f2336f12d58>
# [1, 2, 3, 4, 5]
# [1, 2, 3, 4, 5]

<generator object <genexpr> at 0x7fbc577e0f68>
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### 三、Python学习测试
1、求1+3+5+7+...+99的求和，用Python该如何写

2、在DNA中有4种碱基，分别为ATCG，其中符号“A”和“T”是互补的，符号“C”和“G”是互补的，现给定一个DNA序列，求出他的互补DNA序列，编写函数 DNA_strand(dna)<br>

测试用例：<br>
DNA_strand ("ATTGC") # return "TAACG"<br>
DNA_strand("AAAA")<br>
DNA_strand("ATCGT")

3、编写一个函数duplicate_count(text)，这个函数返回输入字符串text中多次出现的字符的个数（不区分大小写的字母字符和数字，输入字符串只包含字母(大写和小写)和数字）

测试用例：<br>
"abcde" -> 0<br>
"aabBcde" -> 2<br>
"indivisibility" -> 1<br>